.placar{
    width: 280px;
    height: 70px;
    margin: auto;
    align-items: center;
}
.arrow{
    width: 50px;
    display: flex;

}
.score-board{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 6px;
    align-items: center;
    margin-top: -25px;
}