:root {
    --color-alura:#051932;
    --color-fundo:#7C5E99;
    --color-borda:#FFFCEE;
    --color-fiery-rose:#F25A70;
    --color-vs:#F5D547;
    --color-fundo-player:#828282;
    --color-pontos:#62C370;
}